# dircectories to be exculded
node_modules
temp
pdf-output
.vscode
images


# files to exclude
.env
.envall
notes.md
package-lock.json
delteme.md
.markdownlint.json
h446.code-workspace
h446Alevel.md
h446.md



