<%- include('layout/head.ejs'); %>
    <body>
        <%- include('layout/normalheader.ejs'); %>
            <body>
                <h1> Welcome to Appliation Dashboard!</h1>
                <%- include('layout/footer.ejs'); %>
            </body>
            </html>