<%- include('layout/head.ejs'); %>
    <body>
        <%- include('layout/dash-nav.ejs', {iconClass: 'bi bi-unlock' , headerTitle: 'Dashboard'}) %>
            <main>
                <!-- Main content -->
                <div class="container mt-5">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="card mb-3">
                                <div class="card-body">
                                    <h5 class="card-title">Practice</h5>
                                    <p class="card-text">Get ready for the test by practising!</p>
                                    <a href="/practice" class="btn btn-primary">Practise Now</a>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="card mb-3">
                                <div class="card-body">
                                    <h5 class="card-title">Take the Test</h5>
                                    <p class="card-text">Ready to test your knowledge? Take the test!</p>
                                    <a href="/test" class="btn btn-success">Take the Test</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </main>
            <br><br>
            <%- include('layout/footer.ejs'); %>
            <script src="../bootstrap-5.0.2/js/bootstrap.bundle.min.js" type="text/javascript"></script>
              <script src="../javascripts/register-service-worker.js"></script>
    </body>
    </html>