<%- include('layout/head.ejs'); %>
  <%- include('layout/loginheader.ejs'); %>
    <main>
      
      <div class="col-auto">
        <a href="/dashboard" class="anchor">Dashboard</a>
      </div>
    </main>
    <%- include('layout/footer.ejs'); %>
      <script src="bootstrap-5.0.2/js/bootstrap.bundle.min.js"></script>
      <script src="javascripts/register-service-worker.js"></script>
      </body>

      </html>