<%- include('layout/head.ejs'); %>
  <%- include('layout/loginheader.ejs'); %>
    <main>
      <div class="col-auto">
        <a href="/practice" class="anchor"><i class="bi bi-key-fill"></i> Practice</a>
        
      </div>
    </main>
    <%- include('layout/footer.ejs'); %>
      <script src="bootstrap-5.0.2/js/bootstrap.bundle.min.js"></script>
      </body>

      </html>
