<%- include('layout/head.ejs'); %>
  <%- include('layout/loginheader.ejs',{iconClass: 'bi bi-lock-fill' , headerTitle: 'Verbal Reasoning' }); %>
    <main>
      <div class="container mt-5">
        <div class="row">
          <div class="col-md-6">
            <div class="card mb-3">
              <div class="card-body">
                <h5 class="card-title">Practice</h5>
                <p class="card-text">Not ready for login? Do practice only</p>
                <a href="/dashboard" class="btn btn-primary">Dashboard</a>
              </div>
            </div>
          </div>
        </div>
    </main>
    <!-- Call to Action-->
    <%- include('layout/footer.ejs'); %>
      <script src="bootstrap-5.0.2/js/bootstrap.bundle.min.js"></script>
      <!-- <script src="javascripts/register-service-worker.js"></script> -->
      </body>

      </html>