<%- include('layout/head.ejs'); %>
  <%- include('layout/loginheader.ejs',{iconClass: 'bi bi-lock-fill' , headerTitle: 'Verbal Reasoning' }); %>
    <main>
      <div class="container mt-5">
        <div class="row">
          <div class="col-md-6">
            <div class="card mb-3">
              <div class="card-body">
                <h5 class="card-title text-center">Welcome to 11+ Verbal Reasoning</h5>
                <p class="card-text">
                  Here young minds embark on an exhilarating journey
                  of intellectual exploration and cognitive mastery. Dive into a world where words dance and ideas flourish,
                   as curated lessons empowers students to unravel the mysteries of language, decode complex patterns,
                   and unleash their potential for logical deduction.Join us in cultivating not just knowledge, but a deep-rooted love for learning,
                   as we pave the way for academic excellence and intellectual growth.  </p>
                   <P>Login or Register! Not ready go to the dashboard</P>
                <a href="/dashboard" class="btn btn-primary">Dashboard</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </main>
    <!-- Call to Action-->
    <%- include('layout/footer.ejs'); %>
      <script src="bootstrap-5.0.2/js/bootstrap.bundle.min.js"></script>
      <!-- <script src="javascripts/register-service-worker.js"></script> -->
      </body>
      </html>