
body {
  margin: 0;
  padding: 0;
}

/* Default header styles */
/* header {
  background-color: #b4b4e5;
  color: #171717;
  font-size: 1rem; 
  padding: 0px 0;
  text-align: center;
  display: flex; 
  align-items: center; 
  justify-content: space-between; 
  width: 100%;
  bottom: 0;
  height:60px;
  position:relative;
} */

header {
  background-color: #b4b4e5;
  color: #171717;
  font-size: 1rem; 
  padding: 0px 0;
  text-align: center;
  display: flex; 
  align-items: center; 
  justify-content: space-between; 
  width: 100%;
  height: 50px; /* Adjust the height as needed */
  position: fixed; /* Change position to fixed */
  top: 0; /* Position the header at the top of the viewport */
  z-index: 1000; /* Ensure header appears above other content */
}


/* Media query for smaller screens */
@media screen and (max-width: 768px) {
  header {
    font-size: 0.9rem; /* Decrease font size for smaller screens */
  }
}

/* Additional media query for even smaller screens */
@media screen and (max-width: 576px) {
  header {
    font-size: 0.8rem; /* Further decrease font size for very small screens */
  }
}



footer {
  background-color: #b4b4e5;
  color: #171717;
  padding: 0px;
  text-align: center;
  display: flex; 
  align-items: center; 
  justify-content: space-between; 
  width: 100%;
  position: fixed;
  bottom: 0;
  height:50px;
} 

.anchor {
  display: inline-block;
  font-size: 18px;
  background-color: #b4b4e5;
  color: #171717;
  margin: 0 5px; /* Adjust margin as needed */
  padding: 0px 10px 0px 0px; /* top, right, bottom, left */
}

.header-text {
  font-size: 16px;
  font-weight: bold;
  margin-right: auto;
}

.message {
  /* Adjust z-index to ensure it appears above the header */
  z-index: 1;
  /* Add padding or margin to create space below the header */
  padding-top: 50px; /* Adjust as needed */
}

.form-border{

  border: 1px solid #ccc;
  border-radius: 4px;
}


/**************************************************************************/
/* Following styles are used in practice.js */
.div-ui-custom{
  margin-top: 12px;
  text-align: center;
}

.btn {
  width: 100%;
  margin-bottom: 5px;
  text-align: center;
}

/* Style for checkbox labels */
.list-group-item label {
  margin-bottom: 0; /* Remove default margin */
  margin-left: 40%;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: x-large;
  
}



 /***********************************/
 /* used in practice.ejs*/

 .accordion-topic {
  font-size: large;
  margin-top: 10px;
  margin-bottom: 5px;
  color: #171717;
  padding: 0px;
  text-align: center;
  align-items: center; /* Vertically center items */
  justify-content: space-between; /* Distribute items horizontally */
  height:30px;
  background: #E7F1FF;
  border-radius: 10px;
 }


 /*************************************/
 /* dasheader.ejs property is set      */


 .dropdown-menu {
  background-color: #bcc5ee; /* Set your desired background color */
}

.dropdown-menu a {
  color: rgb(42, 4, 79); /* Set your desired text color */
}


.dropdown-menu a:hover {
  background-color: #f1f1f1; /* Set your desired hover background color */
}

/*************************************/
/* practice.ejs                      */

/* Default styles for the label */



/* Default styles for the label */
.accordion-topic label {
  font-size: 1rem; /* Default font size */
}

/* Media query for smaller screens */
@media screen and (max-width: 768px) {
  .accordion-topic label {
    font-size: 0.9rem; /* Decrease font size for smaller screens */
  }
  .lessons {
    font-size: 0.9rem;
  }
}

/* Additional media query for even smaller screens */
@media screen and (max-width: 576px) {
  .accordion-topic label {
    font-size: 0.8rem; /* Further decrease font size for very small screens */
  }
  .lessons {
    font-size: 0.8rem;
  }
}
