<!-- <footer>
    <div class="container">
        <div class="row">
            <div class="col">
                <h3>A Level Project by Sulaiman Sayyed</h3>
            </div>
        </div>
    </div>
</footer> -->

<!-- Fixed bottom footer -->
    <footer class="bg-gradient text-dark text-center py-3 fixed-bottom">
        &copy; 2024 A Level Project by Sulaiman Sayyed.
    </footer>