<body>
 <header class="bg-gradient text-dark text-center py-3 fixed-top">
  <div class="container">
        <span class="header-text"><i class="<%= iconClass %>"></i><%= headerTitle %></span>
        <a href="/login" class="anchor"><i class="bi bi-key-fill"></i> Login</a>
        <a href="/signup" class="anchor"><i class="bi bi-arrow-bar-up"></i> Signup</a>
  </div>
</header>
