<body>
  <header class="bg-gradient text-dark text-center py-3 fixed-top">
    <div class="container">
          <span class="header-text"><i class="<%= iconClass %>"></i><%= headerTitle %></span>
    </div>
  </header>