<body>
   <header class="bg-gradient text-dark text-center py-3 fixed-top">
    <div class="container">
      <span class="header-text"><i class="<%= iconClass %>"></i><%= headerTitle %></span>
      <% if (showLogout) { %>
      <a href="/logout" class="anchor logout">
      <i class="bi bi-door-closed"></i>Logout</a>
      <% } %>
  </div>
    <div class="col-auto">
      <div class="dropdown">
        <button class="btn btn-secondary dropdown-toggle" type="button" id="topicsDropdown"
          data-bs-toggle="dropdown" aria-expanded="false">
          Topics
        </button>         
        <ul class="dropdown-menu" aria-labelledby="topicsDropdown" id="topicsList">
        </ul>
      </div>
    </div>
  </header>
  <!-- Container for lessons -->
