<body>
  <header>
    <div class="container">
      <div class="row align-items-center">
        <div class="col">
          <h3><i class="<%= iconClass %>"></i>
            <%= headerTitle %>
          </h3>
        </div>
        <div class="col-auto">
          <div class="dropdown">
            <button class="btn btn-secondary dropdown-toggle" type="button" id="topicsDropdown"
              data-bs-toggle="dropdown" aria-expanded="false">
              Topics
            </button>         
            <ul class="dropdown-menu" aria-labelledby="topicsDropdown" id="topicsList">
            </ul>
          </div>
        </div>
      </div>
    </div>
  </header>
</body>


  <!-- Container for lessons -->


  <!-- <script src="../javascripts/topics.js" type="text/javascript"></script> -->